Package: boost-container-hash
Version: 1.88.0
Depends: boost-cmake, boost-config, boost-describe, boost-headers, boost-mp11
Architecture: x64-linux
Multi-Arch: same
Abi: 38fc853f196fac42ec20110af79f4eaf13505c63545a1f605f99bba21ca3ea25
Description: Boost container_hash module
