Package: fmt
Version: 11.2.0
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-linux
Multi-Arch: same
Abi: dfe829123515533329e753adab8e94e35e1e64d7bb18c168f6f6ce6307fe879a
Description: {fmt} is an open-source formatting library providing a fast and safe alternative to C stdio and C++ iostreams.
